:root {
  --bg: #ffeea8;
  --font: "Archivo", sans-serif;
  --font-display: "Archivo Narrow", sans-serif;
  --hotpink: #189dca;
  --orange: #89d1ed;
  --gradient: linear-gradient(35deg, var(--orange), var(--hotpink));
}

*{
  box-sizing: border-box;
}

body {
  margin: auto;
  min-height: 100vh;
  background: var(--bg);
  font-family: var(--font);
}
